BODY {padding: 2px 2px 2px 2px}

* {
	font-family: Verdana, Arial, Helvetica;
	font-weight:	normal
	font-size:	7pt;
  }

a {
	font-family: Verdana, Arial, Helvetica;
	font-weight:	normal
	text-decoration:none; 
  }

SUP{
	font-family: Verdana, Arial, Helvetica;
	font-weight: normal;
	text-decoration:none; 
  }

.reftext {
	font-family: Verdana, Arial, Helvetica;
	padding: 1px 5px 1px 1px;
  }

H1  {
	font-family:	Verdana, Arial, Helvetica;
	font-weight:	bold
	}
	
H2 {
	font-family: Verdana, Arial, Helvetica;
	font-weight:	bold
	}
	
H3 {
	font-family: Verdana, Arial, Helvetica;
	font-style:  italic;
	
	}
SPAN {
	font-family: Verdana, Arial, Helvetica;
	font-weight:	normal
	}
	
	.fnreference {font-size: 8pt; vertical-align: super; text-decoration: none;}

LI {
	font-family: Verdana, Arial, Helvetica;
	font-weight:	normal
	}

P {
	font-family: Verdana, Arial, Helvetica;
	font-weight:	normal
	}

	
	.hdg {
	font-size: 8pt;
	font-style: normal;
	text-align : center;
	font-weight : bold;
}
	
	.sectionheading {
	font-size: 8pt;
	font-style: normal;
	text-align : center;
	font-weight : bold;
}

	.paragraphtitle { font-size: 8pt; font-style: italic; font-weight : bold;}
	.bodytext	{
	text-indent: 3pt;
	margin-top: 0;
	margin : 0px;
	line-height: 20pt;
	font-size:	90%;
}
	.footnote	{
	 font-size: 8pt; 
	text-indent: 3pt;
	margin-top: 0;
	margin : 0px;
}
	.center		{
	text-indent: 3pt;
	text-align : center;
	margin : 1em 1em 1em 1em;
}

	.poetry		{
	text-indent: 5pt;
	margin-top: 0;
	margin : 0px;
	line-height: 20pt;
	font-size:	90%;
}
	.otpoetry	{ margin-left: 3em; margin-top: 0;margin : 0px;}
	.title		{ text-align: center; font-weight: bold; font-size: 90% }
	.sosspeaker	{ font-weight: bold}
	.smallcaps 	{ font-variant: small-caps }
	.versenum 	{ font-weight: bold }

P.bibliography  {
	text-indent: -36pt;
	padding-left: 36pt;
	}
